flows/FlowToyota-3.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Decision</name>
        <label>Decision</label>
        <locationX>324</locationX>
        <locationY>172</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Testdecision1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Testdecision</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Testdecision</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Recordcreate</targetReference>
            </connector>
            <label>Testdecision</label>
        </rules>
    </decisions>
    <interviewLabel>FlowToyota {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FlowToyota</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Recordcreate</name>
        <label>Recordcreate</label>
        <locationX>325</locationX>
        <locationY>317</locationY>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>test</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordCreates>
    <screens>
        <name>Salutation</name>
        <label>Salutation</label>
        <locationX>313</locationX>
        <locationY>86</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Decision</targetReference>
        </connector>
        <fields>
            <name>Hello</name>
            <dataType>String</dataType>
            <fieldText>Hello</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Salutation</startElementReference>
    <variables>
        <name>Testdecision</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
